Repository gladiaio/gladia, pull requests merged in 2022-04, with the labels that each got.

#128 Script for the api launch reworked
  src/main.py
Labels: apis

#137 Changed super-resolution default model to idealo-psnr-small
  src/apis/image/image/super-resolution.py
Labels: fix, apis, input-image, output-image

#135 Dockerfile remove gladia-api-utils package before reinstalling it
  src/gpu.Dockerfile
Labels: fix, docker

#146 [FIX] fix device placement on hate speech recognition
  src/apis/text/text/hate-speech-detections/Hate-speech-CNERG-dehatebert-mono-english/Hate-speech-CNERG-dehatebert-mono-english.py
Labels: fix, apis, input-text, output-text

#144 [FEAT][CUSTOM_ENV] add multithreading for build
  src/setup_custom_envs.py
Labels: enhancement, custom_env

#147 Allow dev on api utils using venv
  src/setup_custom_envs.py
Labels: enhancement

#157 [FEAT][CUSTOM_ENV] add default packages for custom env
  src/default_custom_env_packages.txt
  src/setup_custom_envs.py
Labels: enhancement, custom_env, tools

#167 Fix missing OMW
  src/gpu.Dockerfile
Labels: fix, docker

#164 add TOKENIZERS_PARALLELISM=True
  src/gpu.Dockerfile
Labels: enhancement, fix, docker

#168 add skip_when_failed to unit test script
  src/unit-test/test.py
Labels: enhancement, test, tools

#175 add docker arg to force custom_env builds
  src/gpu.Dockerfile
Labels: docker, tools

#166 [APIS] move all apis to cust env
  src/apis/image/image/background-removals/mobilenet/env.yaml
  src/apis/image/image/background-removals/mobilenet/mobilenet.py
  src/apis/image/image/background-removals/xception/env.yaml
  src/apis/image/image/background-removals/xception/xception.py
  src/apis/image/image/colorizations/deoldify-artistic/deoldify-artistic.py
  src/apis/image/image/colorizations/deoldify-artistic/env.yaml
  src/apis/image/image/colorizations/deoldify-stable/deoldify-stable.py
  src/apis/image/image/colorizations/deoldify-stable/env.yaml
  src/apis/image/image/face-blurings/ageitgey/ageitgey.py
  src/apis/image/image/face-blurings/ageitgey/env.yaml
  src/apis/image/text/asciifies/ramesh-aditya/env.yaml
  src/apis/image/text/asciifies/ramesh-aditya/ramesh-aditya.py
  src/apis/image/text/ocrs/easy-ocr/easy-ocr.py
  src/apis/image/text/ocrs/easy-ocr/env.yaml
  src/apis/image/text/ocrs/tesseract-default/env.yaml
  src/apis/image/text/ocrs/tesseract-default/tesseract-default.py
  src/apis/image/text/ocrs/tesseract-denoising/env.yaml
  src/apis/image/text/ocrs/tesseract-denoising/tesseract-denoising.py
  src/apis/text/text/keyword-extractions/keybert-paraphrase-MiniLM-L6-v2/__init__.py
  src/apis/text/text/keyword-extractions/keybert-paraphrase-MiniLM-L6-v2/env.yaml
  src/apis/text/text/keyword-extractions/keybert-paraphrase-MiniLM-L6-v2/keybert-paraphrase-MiniLM-L6-v2.py
  src/apis/text/text/keyword-extractions/keybert-paraphrase-multilingual-MiniLM-L12-v2/__init__.py
  src/apis/text/text/keyword-extractions/keybert-paraphrase-multilingual-MiniLM-L12-v2/env.yaml
  src/apis/text/text/keyword-extractions/keybert-paraphrase-multilingual-MiniLM-L12-v2/keybert-paraphrase-multilingual-MiniLM-L12-v2.py
  src/apis/text/text/language-detections/toftrup-etal-2021/env.yaml
  src/apis/text/text/language-detections/toftrup-etal-2021/toftrup-etal-2021.py
  src/apis/text/text/language-generations/EleutherAI-gpt-neo-2_7B/EleutherAI-gpt-neo-2_7B.py
  src/apis/text/text/lemmatizations/wordnet/wordnet.py
  src/apis/text/text/named-entity-recognitions/dbmdz-bert-large-cased-finetuned-conll03-english/dbmdz-bert-large-cased-finetuned-conll03-english.py
  src/apis/text/text/next-sentence-predictions/bert-base-uncased/bert-base-uncased.py
  src/apis/text/text/next-sentence-predictions/bert-base-uncased/env.yaml
  src/apis/text/text/next-word-predictions/albert-base-v2/albert-base-v2.py
  src/apis/text/text/next-word-predictions/albert-base-v2/env.yaml
  src/apis/text/text/next-word-predictions/bert-base-uncased/bert-base-uncased.py
  src/apis/text/text/next-word-predictions/bert-base-uncased/env.yaml
  src/apis/text/text/next-word-predictions/distilbert-base-uncased/distilbert-base-uncased.py
  src/apis/text/text/next-word-predictions/distilbert-base-uncased/env.yaml
  src/apis/text/text/next-word-predictions/roberta-base/env.yaml
  src/apis/text/text/next-word-predictions/roberta-base/roberta-base.py
  src/apis/text/text/plurals/inflect/inflect.py
  src/apis/text/text/question-answerings/deepset-roberta-base-squad2/deepset-roberta-base-squad2.py
  src/apis/text/text/question-answerings/deepset-roberta-base-squad2/env.yaml
  src/apis/text/text/question-answerings/deepset_bert-base-cased-squad2/env.yaml
  src/apis/text/text/question-answerings/distilbert-base-cased-distilled-squad/distilbert-base-cased-distilled-squad.py
  src/apis/text/text/question-answerings/distilbert-base-cased-distilled-squad/env.yaml
  src/apis/text/text/question-answerings/mfeb-albert-xxlarge-v2-squad2/env.yaml
  src/apis/text/text/question-answerings/mfeb-albert-xxlarge-v2-squad2/mfeb-albert-xxlarge-v2-squad2.py
  src/apis/text/text/question-answerings/mrm8488-bert-tiny-5-finetuned-squadv2/env.yaml
  src/apis/text/text/question-answerings/mrm8488-bert-tiny-5-finetuned-squadv2/mrm8488-bert-tiny-5-finetuned-squadv2.py
  src/apis/text/text/sentiment-analyses/distilbert-base-uncased-finetuned-sst-2-english/distilbert-base-uncased-finetuned-sst-2-english.py
  src/apis/text/text/sentiment-analyses/distilbert-base-uncased-finetuned-sst-2-english/env.yaml
  src/apis/text/text/sentiment-analyses/distilbert-base-uncased/distilbert-base-uncased.py
  src/apis/text/text/sentiment-analyses/distilbert-base-uncased/env.yaml
  src/apis/text/text/sentiment-analyses/nlptown-bert-base-multilingual-uncased-sentiment/nlptown-bert-base-multilingual-uncased-sentiment.py
  src/apis/text/text/similarities/all-MiniLM-L6-v2/all-MiniLM-L6-v2.py
  src/apis/text/text/similarities/all-MiniLM-L6-v2/env.yaml
  src/gpu.Dockerfile
  src/requirements.txt
  src/unit-test/test.py
Labels: fix, apis

#181 [FIX][DOCKER] reduce size using simlinks
  src/apis/image/image/background-removals/mobilenet/env.yaml
  src/apis/image/image/background-removals/xception/env.yaml
  src/apis/image/image/background-removals/xception/xception.py
  src/apis/image/image/colorizations/deoldify-artistic/env.yaml
  src/apis/image/image/colorizations/deoldify-stable/env.yaml
  src/apis/image/image/super-resolutions/idealo-psnr-small/env.yaml
  src/apis/text/text/keyword-extractions/keybert-paraphrase-MiniLM-L6-v2/env.yaml
  src/apis/text/text/keyword-extractions/keybert-paraphrase-multilingual-MiniLM-L12-v2/env.yaml
  src/apis/text/text/next-sentence-predictions/bert-base-uncased/env.yaml
  src/apis/text/text/next-word-predictions/albert-base-v2/env.yaml
  src/apis/text/text/next-word-predictions/bert-base-uncased/env.yaml
  src/apis/text/text/next-word-predictions/distilbert-base-uncased/env.yaml
  src/apis/text/text/next-word-predictions/roberta-base/env.yaml
  src/apis/text/text/question-answerings/deepset-roberta-base-squad2/env.yaml
  src/apis/text/text/question-answerings/distilbert-base-cased-distilled-squad/env.yaml
  src/apis/text/text/question-answerings/mfeb-albert-xxlarge-v2-squad2/env.yaml
  src/apis/text/text/question-answerings/mrm8488-bert-tiny-5-finetuned-squadv2/env.yaml
  src/apis/text/text/sentiment-analyses/distilbert-base-uncased-finetuned-sst-2-english/env.yaml
  src/apis/text/text/sentiment-analyses/distilbert-base-uncased/env.yaml
  src/apis/text/text/similarities/all-MiniLM-L6-v2/env.yaml
  src/default_custom_env_packages.txt
  src/gpu.Dockerfile
  src/requirements.txt
  src/run_server_dev.sh
  src/setup_custom_envs.py
  src/unit-test/requirements.txt
  src/unit-test/test.py
  src/venv-builder/default_common_packages.txt
  src/venv-builder/default_image_packages.txt
  src/venv-builder/default_sound_packages.txt
  src/venv-builder/default_text_packages.txt
  src/venv-builder/default_video_packages.txt
  src/venv-builder/setup_custom_envs.py
  src/venv-builder/utils.py
Labels: enhancement, docker

#188 move base to kaggle gcr
  src/apis/text/text/language-generations/EleutherAI-gpt-neo-2_7B/env.yaml
  src/apis/text/text/sentiment-analyses/nlptown-bert-base-multilingual-uncased-sentiment/env.yaml
  src/apis/text/text/sentiment-analyses/zero-shot-classification-facebook-bart-large-mnli/env.yaml
  src/gpu.Dockerfile
  src/requirements.txt
Labels: enhancement, docker

#187 Feat/ut sleep if ci
  src/unit-test/test.py
Labels: enhancement, test

#192 fix args in gpu.Dockerfile
  src/gpu.Dockerfile
Labels: fix, docker
