Repository gladiaio/gladia, pull requests merged in 2022-05, with the labels that each got.

#194 Refactor/switch base image to triton
  src/apis/image/text/ocrs/tesseract-default/tesseract-default.py
  src/apis/image/text/ocrs/tesseract-denoising/tesseract-denoising.py
  src/apis/text/text/lemmatizations/wordnet/env.yaml
  src/apis/text/text/lemmatizations/wordnet/wordnet.py
  src/clean-layer.sh
  src/entrypoint.sh
  src/gpu.Dockerfile
  src/main.py
  src/requirements.txt
  src/venv-builder/setup_custom_envs.py
  src/venv-builder/utils.py
Labels: docker

#197 feat: Triton inferer
  src/api_utils/gladia_api_utils/triton_helper/TritonClient.py
  src/api_utils/gladia_api_utils/triton_helper/__init__.py
  src/api_utils/gladia_api_utils/triton_helper/download_active_models.py
  src/api_utils/setup.py
  src/apis/text/text/entity-extractions/dbmdz-bert-large-cased-finetuned-conll03-english/.git_path
  src/apis/text/text/entity-extractions/dbmdz-bert-large-cased-finetuned-conll03-english/dbmdz-bert-large-cased-finetuned-conll03-english.py
  src/apis/text/text/hate-speech-detections/Hate-speech-CNERG-dehatebert-mono-english/.git_path
  src/apis/text/text/hate-speech-detections/Hate-speech-CNERG-dehatebert-mono-english/Hate-speech-CNERG-dehatebert-mono-english.py
  src/docker-compose.dev.yaml
  src/docker-compose.yaml
  src/gpu.Dockerfile
  src/main.py
  src/run_server_prod.sh
  src/warm_up.py
Labels: enhancement, help wanted, apis, input-text, output-text, docker

#200 Fix / README.md site link
  README.md
Labels: fix
